@page "/"
@using homework1.Service

@inject INavigationService _navigationService

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Button OnClick='() => _navigationService.NavigateTo("/detail/114514")'>恶臭</Button>
